<!DOCTYPE html>
<html>
<head>
  <title>Wambl</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="bar">
		<%= image_tag 'wambl_lg.png',height: 40 %>
	</div>
	
	<div id="full" align="center">
		<div id="container">

			<%= yield %>

		</div>
	</div>
	
</body>
</html>